<div class="container mx-auto">
	<h1 class="text-3xl font-bold mb-4"><%= t("banks.shared.back_to_banks") %></h1>

	<%= render 'form' %>

	<%= link_to t('banks.shared.back_to_banks'), banks_path, class: "text-blue-500 hover:underline" %>
</div>
