<h1>Home#index</h1>
<%= link_to 'Banks', banks_path, class: "text-blue-500 hover:underline mr-2" %>
<%= link_to 'Suppliers', suppliers_path, class: "text-blue-500 hover:underline mr-2" %>
<%= link_to 'Dashboards', dashboards_path, class: "text-blue-500 hover:underline mr-2" %>
