<% if @suppliers.present? %>
  <%= render partial: 'suppliers/table', locals: { suppliers: @suppliers } %>
<% else %>
  <div class="bg-white p-4 mb-4 shadow-md rounded-md">
    Sin información en la tabla
  </div>
<% end %>
