<div class="container mx-auto mt-5">
  <h1 class="text-3xl font-bold mb-4"><%= t("suppliers.shared.back_to_suppliers") %></h1>

  <%= render 'form' %>

  <a href="<%= suppliers_path %>" class="btn btn-primary text-white">
      <%= t('suppliers.shared.back_to_suppliers') %>
  </a>
</div>
